body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #0C0C0C, #0F971C);
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background: #0f971c; 
    color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

form label,
form select,
form p {
    display: block;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #4caf50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #43a047;
}

#resultado {
    background: white;
    width: 350px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.erro {
    margin-top: 10px;
    padding: 10px;
    background: #ffdddd;
    color: #b30000;
    border: 1px solid red;
    border-radius: 5px;
}

.esconder {
    display: none;
}
footer{
    position: fixed;
    bottom: 0 ;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    display: inline;
    color: #ffff;
}